<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovilServicesPublic"
        tools:targetApi="31">
        <activity
            android:name=".ConfigurarSonidoAlarma"
            android:exported="false" />
        <activity
            android:name=".ConfigurarNotificaciones"
            android:exported="false" />
        <activity
            android:name=".ConfigurarAlarmaCorte"
            android:exported="false" />
        <activity
            android:name=".ConfigurarAlarmaPago"
            android:exported="false" />
        <activity
            android:name=".ConfigurarAlarmaRecepcion"
            android:exported="false" />
        <activity
            android:name=".ServicesPublic"
            android:exported="false" />
        <activity
            android:name=".CrearAlarmas2"
            android:exported="false" />
        <activity
            android:name=".crearAlarmas"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>